<!DOCTYPE html>
<html>
  <head>
    <% if(htmlWebpackPlugin.options.params.env != 'production') { %>
      <title>
        <%= htmlWebpackPlugin.options.params.title %>
      </title>
    <% } %>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <script src="<%= htmlWebpackPlugin.options.params.staticUrl%>/libs/vendor.js"></script>
    <script src="<%= htmlWebpackPlugin.options.params.staticUrl%>/libs/jquery-1.6.4.min.js"></script>
    
    <% if(htmlWebpackPlugin.options.params.env === 'production') {%>
    <% }else{ %>
    <% } %>
  </head>

  <script src=./libs/feather.js></script>
  <% if(htmlWebpackPlugin.options.params.env != 'production') {%>
    <body>
      <div id="root"></div>
    </body>
  <% } %>

</html>
